#icon{
	width:43px;
	height:43px;
	border:1px rgba(34, 25, 25, 0.1) solid;
	/* margin-left:20px; */
}
#icon img{
	margin-left:10px;
	margin-top:10px;
}
#icon_ul_style{
	list-style-type:none;
}
#icon_ul_style li{
	padding-left:0px;
}
#icon_div{
	margin-top:30px;
}
#icon:hover{
	box-shadow:2px 3px 5px rgba(34, 25, 25, 0.4);
}
#icon_div_top{
	margin-left:0px;
}
#col_content{
	background:#CDC5BF;
}