<div class="container" style="width: 100%;">
	<form id="inputForm" class="form-horizontal" style="overflow: auto;">
		<input name="id" type="hidden" id="id"/>
			<input name="formNo" type="hidden" id="formNo"/>
	  	<div class="col-md-12 all-line col-sm-12 adapt">
	  		<label>范围</label>
	  		<fieldset class="set">
				<div name="c01" component-type="checkbox" component-id="act_category" class="i-checks-div required"></div>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-12 all-line col-sm-12 adapt">
	  		<label>操作</label>
	  		<fieldset class="set">
				<div name="c02" component-type="checkbox" component-id="oa_task_operation" class="i-checks-div required"></div>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-12 all-line col-sm-12 adapt">
	  		<label>排序</label>
	  		<fieldset class="set">
				<input name="sort" component-type="input" type="text"    class="form-control digits required"/>
	  		</fieldset>
	  	</div>
	</form>
</div>

