<div class="layui-fluid">
    <div class="layui-card">
        <div id="body-div" class="layui-card-body">
        	<form id="searchForm" class="searchForm form-inline">
        		<div class="searchDiv positionSpc">
					<div class="form-group pull-left important">
						<span>节点名称</span>
						<input name="s01" component-type="input" class="form-control" type="text" value="" maxlength="64" />
					</div>
					<div class="form-group pull-left ">
						<span>可连接网络节点</span>
						<input name="s02" component-type="input" class="form-control" type="text" value="" maxlength="64" />
					</div>
				</div>
        	</form>
        	<div id="toolbar" class="toolbar">
				<div class="pull-right">
					<a id="searchBtn" class="btn btn-success btn-bordered btn-sm"><i class="fa fa-search"></i> <font>查询</font></a>
					<a id="resetBtn" class="btn btn-success btn-bordered btn-sm"><i class="fa fa-refresh"></i> <font>重置</font></a>
					<a id="easySearch" class="btn btn-success btn-bordered btn-sm" style="display: none;"><i class="fa fa-backward"></i> <font>返回</font></a>
					<a id="hardSearch" class="btn btn-success btn-bordered btn-sm" style="display: inline-block;"><i class="fa fa-search-plus"></i> <font>高级查询</font></a>
				</div>
			</div>
            <form id="editTableForm">
				<table id="table-list"></table>
			</form>
        </div>
    </div>
</div>
<script>
    layui.use(['common', 'view', 'admin', 'laytpl'], function () {
        var $ = layui.$
            , R = layui.common
            , view = layui.view
            , admin = layui.admin
            , laytpl = layui.laytpl;

        var getTime = "-" + new Date().getTime();
        $("#body-div").attr("id", "body-div" + getTime);
        $("#table-list").attr("id","table-list" + getTime);
        var btnsStr = LayerUtil.getBtnsStrFromMenuData();

		var bootstrapTableUtil = new BootstrapTableUtil(getTime);
		bootstrapTableUtil.init({
			url: admin.basePath + '/dynamic/zform/data?path=path&traceFlag=&formNo=con_network',
			method: 'post',
			columns: [
                {
					checkbox: true
				},
				{
					field: 's01',
					title: '节点名称',
					sortable: true,
					sortName: 'a.network_name',
					
					formatter:function(value, row , index){
						if(!value){
							value = "";
						}
						return "<a href='javascript:;' class='view'>"+value+"</a>";
					},
					events: {
						'click .view': function (e, value, row, index) {
							viewForm({
								id: row.id
							})
						}
					},
				},
				{
					field: 's02',
					title: '可连接网络节点',
					sortable: true,
					sortName: 'a.network_id',
					
				},
				{
					field: 's04',
					title: '超时时间（毫秒）',
					sortable: true,
					sortName: 'a.timeout_',
					
				},
                {
                	title: layui.admin.lang() ? 'Operation' : '操作',
                	width: '45px',
					"class": 'center must',
					events: {
						'click .view': function (e, value, row, index) {
							viewForm({id: row.id})
						},
						'click .edit': function (e, value, row, index) {
							addOrEdit({
								id: row.id
							})
						},
						'click .del': function (e, value, row, index) {
							delFuc(row);
						},
					},
					formatter: function(value, row, index) {
						return btnsStr.tableBtnsStr;
					},
                },
            ],
		},"con_network");


		$("#body-div"+getTime).find("#addBtn").on("click",function(){
			addOrEdit({});
		});
		$("#body-div"+getTime).find("#importBtn").on("click",function(){
			LayerUtil.openDialog({
				title: '导入',
				formLay : 'con_network',
				height:"300px",
				setDataWithoutAjax : true,
				url: 'admin/import',
	            btn: ['上传', '关闭'],
	            btn_EN: ['import', 'close'],
	            loading: false,
	            func1:function(index,layero){
					var validateForm = $(layero).find("#inputForm").validate({});
	            	if(validateForm.form()){
						var data = myHelper.composeData($(layero).find("#inputForm"));
						LayerUtil.ajax({
							url : admin.basePath + '/dynamic/zform/impdata?parentFormNo=&uniqueId=&toCompany=&parentId=&formNo=con_network'+'&fileId='+data.importExcel+'&loginName='+localStorage.getItem('bpmUser'),
							type : 'post',
							shade: true,
							success : function(res) {
								LayerUtil.success(res[LayerUtil.getMsgLang()]);
								bootstrapTableUtil.refresh();
								layui.layer.close(index);
							}
						});
	            	}
	            }
			})
		});
		$("#body-div"+getTime).find("#exportBtn").on("click",function(){
			var str = $("#body-div"+getTime).find("#searchForm").serialize();
			var dataH = myHelper.formParamsToObject(str);
			window.open(admin.basePath + '/dynamic/zform/expdata?path=path&traceFlag=&formNo=con_network&parentId=&zformString=' + encodeURI(JSON.stringify(dataH)));
			return;
		});

		$("#body-div"+getTime).find("#removeBtn").on("click",function(){
			var ids = bootstrapTableUtil.getMultiId();
			if(ids){
				LayerUtil.confirm(layui.admin.lang() ? "Are you sure?" : "确定删除吗？", function(){
					LayerUtil.ajax({
						type: 'post',
		        		url: admin.basePath + '/dynamic/zform/delete?formNo=con_network&ids=' + ids,
		        		success: function(res){
		        			LayerUtil.success(res[LayerUtil.getMsgLang()]);
                			bootstrapTableUtil.refresh();
		        		}
		        	})
				})
	       	}
		});

		function addOrEdit(initData) {
			var id = initData ? initData.id : '';
			LayerUtil.openDialog({
				title : layui.admin.lang() ? 'New ' : '添加网络参数',
				formLay : 'con_network',
				initData : initData,
				setDataWidthAjax : true,
				actionDataName : 'data',
				url : 'admin/con_network/form',
				actionUrl : admin.basePath + '/dynamic/zform/getZform?formNo=con_network&id=' + id,
	            btn : ['保存', '取消'],
	            btn_EN : ['Save', 'Cancel'],
	            func1 : function(index,layero) {
	            	var validateForm = $(layero).find("#inputForm").validate({});
	            	if(validateForm.form()){
						var data = myHelper.composeData($(layero).find("#inputForm"));
						LayerUtil.ajax({
							url : admin.basePath + '/dynamic/zform/save',
							type : 'post',
							data : JSON.stringify(data),
							shade: true,
							success : function(res) {
								LayerUtil.success(res[LayerUtil.getMsgLang()]);
								bootstrapTableUtil.refresh();
								layui.layer.close(index);
							}
						});
	            	}
	            }
			})
		}

		function addChild(initData) {
			var id = initData ? initData.id : '';
			LayerUtil.openDialog({
				title : layui.admin.lang() ? 'New ' : '添加网络参数',
				formLay : 'con_network',
				initData : initData,
				setDataWithoutAjax : true,
				actionDataName : 'data',
				url : 'admin/con_network/form',
	            btn : ['保存', '取消'],
	            btn_EN : ['Save', 'Cancel'],
	            func1 : function(index,layero) {
	            	var validateForm = $(layero).find("#inputForm").validate({});
	            	if(validateForm.form()){
						var data = myHelper.composeData($(layero).find("#inputForm"));
						LayerUtil.ajax({
							url : admin.basePath + '/dynamic/zform/save',
							type : 'post',
							data : JSON.stringify(data),
							shade: true,
							success : function(res) {
								LayerUtil.success(res[LayerUtil.getMsgLang()]);
								bootstrapTableUtil.refresh();
								layui.layer.close(index);
							}
						});
					}
	            }
			})
		}

		function viewForm(initData) {
			LayerUtil.openDialogView({
				title : layui.admin.lang() ? 'View ' : '查看网络参数',
				initData : initData,
				formLay : 'con_network',
				url : 'admin/con_network/form',
				actionUrl : admin.basePath + '/dynamic/zform/getZform?formNo=con_network&id=' + initData.id,
				actionDataName : 'data',
				setDataWidthAjax : true,
			})
		}

		function delFuc(row){
    		LayerUtil.confirm(layui.admin.lang() ? 'Are you sure you want to delete?':'确认要删除吗？', function() {
				LayerUtil.ajax({
					url: admin.basePath + '/dynamic/zform/delete?formNo=con_network&ids=' + row.id,
					type:'post',
	        		shade:true,
					success: function(res){
	        			LayerUtil.success(res[LayerUtil.getMsgLang()]);
                			bootstrapTableUtil.refresh();
	        		}
				});
			});
    	}
    });
</script>
