<div id="begenCodeForm" class="container-fluid" style="overflow: hidden;background: #fff;padding: 0px;">
	
	<form id="inputForm" class="form-horizontal">
		<div class="col-md-12 col-sm-12 adapt">
			<label>表名</label>
			<fieldset class="set">
			 	<select id="name" name="name" class="select2-search">
	            </select>
			</fieldset>
		</div>
	</form>
</div>
<script>
	var loadingIndex = LayerUtil.loading("加载中。。。");
	layui.use(['laytpl','layer', 'element', 'admin'], function() {
		var laytpl = layui.laytpl;
		var element = layui.element;
		var admin = layui.admin;
		
		LayerUtil.ajax({
			type:'post',
			url: admin.basePath + "/gen/genTable/importListDynamic",
    		shade:true,
			success: function(result){
				var html  = "";
				$.each(result.data.tableList, function(i,obj){
					html += "<option value='"+obj.name+"'>"+obj.name+"</option>"				});
				$("#begenCodeForm #name").append(html);
				myHelper.initSelect2($("#begenCodeForm #name"));
				LayerUtil.close(loadingIndex);
			}
		})
	})
</script>