<div class="container" style="width: 100%;">
	<form id="inputForm" class="form-horizontal">
		<input name="id" type="hidden" id="id"/>
		<input name="formNo" type="hidden" id="formNo"/>
		<div class="col-md-12 all-line col-sm-12 adapt">
	  		<label>字段SQL</label>
	  		<fieldset class="set">
				<textarea name="l01" component-type="textarea" rows="3"    class="form-control  "></textarea>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-12 all-line col-sm-12 adapt">
	  		<label>字段SQL（接口）</label>
	  		<fieldset class="set">
				<textarea name="l06" component-type="textarea" rows="3"    class="form-control  "></textarea>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-12 all-line col-sm-12 adapt">
	  		<label>关联SQL</label>
	  		<fieldset class="set">
				<textarea name="l02" component-type="textarea" rows="3"    class="form-control  "></textarea>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-12 all-line col-sm-12 adapt">
	  		<label>插入SQL</label>
	  		<fieldset class="set">
				<textarea name="l03" component-type="textarea" rows="3"    class="form-control  "></textarea>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-12 all-line col-sm-12 adapt">
	  		<label>更新SQL</label>
	  		<fieldset class="set">
				<textarea name="l04" component-type="textarea" rows="3"    class="form-control  "></textarea>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-12 all-line col-sm-12 adapt">
	  		<label>排序SQL</label>
	  		<fieldset class="set">
				<textarea name="l05" component-type="textarea" rows="3"    class="form-control  "></textarea>
	  		</fieldset>
	  	</div>
	</form>
</div>

