<div class="container" style="width: 100%;">
	<form id="inputForm" class="form-horizontal" style="overflow: auto;">
		<input name="id" type="hidden" id="id"/>
			<input name="formNo" type="hidden" id="formNo"/>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>所属站点</label>
	  		<fieldset class="set">
	  			<div name="g01.id" component-type="grid" class="tag-div required" tableName="prt_site" searchKey="name" fieldKeys="s02,s01" fieldLabels="编码,名称" searchLabel="名称" javaField="g01.id|s01"></div>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>栏目名称</label>
	  		<fieldset class="set">
				<div name="parent.id" component-type="treeSelect" actionUrl="/dynamic/zform/treeData?parentId=0&traceFlag=1&formNo=prt_channel" sync="false" check="false" chooseParent="true" class="tag-div required"></div>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>文章标题</label>
	  		<fieldset class="set">
				<input name="s01" component-type="input" type="text" maxlength="50"    class="form-control  required"/>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>作者</label>
	  		<fieldset class="set">
				<input name="s15" component-type="input" type="text" maxlength="50"    class="form-control  "/>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>来源</label>
	  		<fieldset class="set">
				<input name="s02" component-type="input" type="text" maxlength="50"    class="form-control  "/>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>关键字</label>
	  		<fieldset class="set">
				<input name="s03" component-type="input" type="text" maxlength="50"    class="form-control  "/>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-12 all-line col-sm-12 adapt">
	  		<label>文章摘要</label>
	  		<fieldset class="set">
				<textarea name="s04" component-type="textarea" rows="3" maxlength="200"    class="form-control  "></textarea>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>文章类型</label>
	  		<fieldset class="set">
	  			<select name="s05" component-type="select" component-id="prt_info_types" class="form-control ">
					<option></option>
				</select>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>轮播</label>
	  		<fieldset class="set">
	  			<select name="s06" component-type="select" component-id="yes_no" class="form-control ">
					<option></option>
				</select>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-12 all-line col-sm-12 adapt">
	  		<label>文章内容</label>
	  		<fieldset class="set">
				<textarea name="s14" component-type="summernote" class="form-control  "></textarea>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-12 all-line col-sm-12 adapt">
	  		<label>图片</label>
	  		<fieldset class="set">
	  			<div name="s07" component-type="upload" component-accept="pic" component-uploadpath="/system/sysFile/fileUploadBatchProgress" class="form-control " style="padding: 1px 12px;"></div>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-12 all-line col-sm-12 adapt">
	  		<label>附件</label>
	  		<fieldset class="set">
	  			<div name="s08" component-type="upload" class="form-control " style="padding: 1px 12px;" component-uploadpath="/system/sysFile/fileUploadBatchProgress"></div>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>固顶级别</label>
	  		<fieldset class="set">
	  			<select name="s09" component-type="select" component-id="prt_top_level" class="form-control required">
					<option></option>
				</select>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>固顶到期日期</label>
	  		<fieldset class="set">
				<input name="d01" component-type="datePicker" readonly="readonly" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" class="Wdate form-control " type="text" value="" />
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>拟稿人</label>
	  		<fieldset class="set">
				<input name="s10" component-type="input" type="text" maxlength="50"    class="form-control  "/>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>拟稿时间</label>
	  		<fieldset class="set">
				<input name="d02" component-type="datePicker" readonly="readonly" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" class="Wdate form-control " type="text" value="" />
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>发布人</label>
	  		<fieldset class="set">
				<input name="s11" component-type="input" type="text" maxlength="50"    class="form-control  "/>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>全员可见</label>
	  		<fieldset class="set">
	  			<select name="s12" component-type="select" component-id="yes_no" class="form-control ">
					<option></option>
				</select>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>发布时间</label>
	  		<fieldset class="set">
				<input name="d03" component-type="datePicker" readonly="readonly" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" class="Wdate form-control " type="text" value="" />
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>状态</label>
	  		<fieldset class="set">
	  			<select name="status" component-type="select" component-id="prt_info_status" class="form-control ">
					<option></option>
				</select>
	  		</fieldset>
	  	</div>
	</form>
</div>

