<div class="container" style="width: 100%;">
	<form id="inputForm" class="form-horizontal" style="overflow: auto;">
		<input name="id" type="hidden" id="id"/>
			<input name="formNo" type="hidden" id="formNo"/>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>合约名称</label>
	  		<fieldset class="set">
				<input name="s01" component-type="input" type="text"    class="form-control  required"/>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>合约版本</label>
	  		<fieldset class="set">
				<input name="s03" component-type="input" type="text"    class="form-control  required"/>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-12 all-line col-sm-12 adapt">
	  		<label>合约地址</label>
	  		<fieldset class="set">
				<input name="s02" component-type="input" type="text"    class="form-control  required"/>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-12 all-line col-sm-12 adapt">
	  		<label>合约描述</label>
	  		<fieldset class="set">
				<input name="s04" component-type="input" type="text"    class="form-control  "/>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>合约使用状态</label>
	  		<fieldset class="set">
	  			<select name="s07" component-type="select" component-id="sys_useable" class="form-control required">
					<option></option>
				</select>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>合约部署网络</label>
	  		<fieldset class="set">
	  			<select name="s08" component-type="select" component-id="con_deploy_network" class="form-control required">
					<option></option>
				</select>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>合约部署时间</label>
	  		<fieldset class="set">
				<input name="d11" component-type="datePicker" readonly="readonly" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="Wdate form-control required" type="text" value="" />
	  		</fieldset>
	  	</div>
	  	<div class="col-md-12 all-line col-sm-12 adapt">
	  		<label>备注信息</label>
	  		<fieldset class="set">
				<textarea name="remarks" component-type="textarea" rows="3"    class="form-control  "></textarea>
	  		</fieldset>
	  	</div>
	</form>
</div>

