<div class="container" style="width: 100%;">
	<form id="searchForm" class="searchForm form-inline">
		<div class="searchDiv positionSpc" style="right: 80px;">
			<div class="form-group pull-left important">
				<span id="searchLabel"></span>
				<input id="searchValue" class="form-control" type="text" value="" />
			</div>
		</div>
	</form>
	<div id="toolbar" class="toolbar" style="overflow: auto;">
		<div class="pull-right">
			<a id="searchBtn" class="btn btn-success btn-bordered btn-sm"><i class="fa fa-search"></i> <font>查询</font></a>
		</div>
	</div>
	<table id="gridTag"></table>
</div>