<div class="container" style="width: 100%;">
	<form id="inputForm" class="form-horizontal" style="overflow: auto;">
		<input name="id" type="hidden" id="id"/>
		<input name="hashKey" type="hidden" id="hashKey"/>
		<input name="formNo" type="hidden" id="formNo"/>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>所属分类</label>
	  		<fieldset class="set">
				<div name="parent.id" component-type="treeSelect" actionUrl="/dynamic/zform/treeData?parentId=0&traceFlag=1&formNo=demo_tree" sync="false" check="false" chooseParent="true" class="tag-div required"></div>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>名称</label>
	  		<fieldset class="set">
				<input name="s01" component-type="input" type="text"    class="form-control  required"/>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>行政区</label>
	  		<fieldset class="set">
	  			<div name="area01.id" component-type="treeSelect" actionUrl="/sys/tagTree/areaTreeAsync?id=0" sync="true" check="false" chooseParent="true" class="tag-div "></div>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>注册日期</label>
	  		<fieldset class="set">
				<input name="d01" component-type="datePicker" readonly="readonly" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" class="Wdate form-control " type="text" value="" />
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>排序</label>
	  		<fieldset class="set">
				<input name="sort" component-type="input" type="text"    class="form-control digits required"/>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-12 all-line col-sm-12 adapt">
	  		<label>备注信息</label>
	  		<fieldset class="set">
				<textarea name="remarks" component-type="textarea" rows="3"    class="form-control  "></textarea>
	  		</fieldset>
	  	</div>
	</form>
</div>

