<div class="container" style="width: 100%;">
	<form id="inputForm" class="form-horizontal" style="overflow: auto;">
		<input name="id" type="hidden" id="id"/>
			<input name="formNo" type="hidden" id="formNo"/>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>登陆账号</label>
	  		<fieldset class="set">
				<input name="s02" component-type="input" type="text"    class="form-control  "/>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>操作内容</label>
	  		<fieldset class="set">
				<input name="s03" component-type="input" type="text"    class="form-control  "/>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>操作时间</label>
	  		<fieldset class="set">
				<input name="d11" component-type="datePicker" readonly="readonly" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="Wdate form-control " type="text" value="" />
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>操作者IP</label>
	  		<fieldset class="set">
				<input name="s05" component-type="input" type="text"    class="form-control  "/>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>操作类型</label>
	  		<fieldset class="set">
				<input name="s06" component-type="input" type="text"    class="form-control  "/>
	  		</fieldset>
	  	</div>
	  	<div class="col-md-6 half-line col-sm-12 adapt">
	  		<label>操作结果</label>
	  		<fieldset class="set">
				<input name="s07" component-type="input" type="text"    class="form-control  "/>
	  		</fieldset>
	  	</div>
	</form>
</div>

